<div class="container-fluid" style="background-color: #3a1515; color: white;">
  <div class="row">
    <div class="col-sm-12">
      <ul style="list-style-type: none;">
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/">Home</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/first">Login</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/third">Help</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/second">Regulation</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/fifth">Peta</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/fourth">About Us</a></li>
      </ul>
    </div>
  </div>
</div>
